body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  background-color: #1f2937;
  padding: 10px 0;
}

.headerlink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: small;
  display: flex;
  gap: 20px;
  
}

a {
  text-decoration: 0;
  color: whitesmoke;
}