* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 
body {
  display: flex;
  flex-direction: column;
}
/* ---------header----------- */

.header-container {
  background-color: #1f2937;
  /* border: 2px solid pink; */
} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  color: white;

}

.links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.signup {
  color: white;
  background-color: #3882f6;
  padding: 5px;
  border-radius: 8px;
}
/* --------section1---------- */

.section-one-container {
  background-color: #1f2937;
}

.section-one {
  color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 77px;
}

.imageone {
  width: 300px;
  height: auto;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
/* ------section2----------- */
.imagetwo {
  width: 100px;
  height: auto;
}

.info {
  text-align: center;
  padding-top: 50px;
}

.group-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  gap: 50px;
  flex-wrap: wrap;
  /* border: 1px solid pink; */
}

.pic1 {
  text-align: center;
  /* border: 1px solid yellow; */
}

.info-pic {
  font-size: 10px;
  width: 100px;
}
/* -------section3---------- */
.section-three-container {
  background-color: #e5e7eb;
}

.section-three {
  width: 500px;
  margin: 0 auto;
}

.person {
  text-align: end;
}
/* --------section4----------- */
.title-h3 {
  font-size: 15px;
  color: white;
}

.h3-content {
  font-size: 12px;
  color: white;
}

.section-four {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
}

.signup-two {
  color: white;
  background-color: #3882f6;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
}





