* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 
body {
  display: flex;
  flex-direction: column;
}
/* ---------header----------- */

.header-container {
  background-color: #1f2937;
  /* border: 2px solid pink; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  color: white;
}

/* .header-logo {

} */

.links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: white;
}
/* ------------------ */

.section-one-container {
  background-color: #1f2937;
}

.section-one {
  color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}

.imageone {
  width: 300px;
  height: auto;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}



